@model List<CamperBot_FCC_Status_Viewer.Models.active_user_list1>

<link rel="stylesheet" href="~/Custom/css/user-profiles-list-small.css">
<!-- Today Active User -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Monthly Active User</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>User active today<small>campers</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--List the user based on rank-->
                    <ul id="rankList" class="user-profiles-list-small">
                        <!--template-->
                        <!--
                        <li>
                            <div class="user-avatar">
                                <a href="#">
                                    <img src="~/Images/profile.jpg" width="48" alt="Profile of Mark Smith Peterson" />
                                </a>
                            </div>
                            <p class="user-name">
                                <a href="">Mark Smith Peterson</a>
                                <span>Rank : #1 | Point : 350</span>
                            </p>
                            <a class="delete" href="#"><i class="fa fa-plus"></i></a>
                        </li>
                        -->
                        <!--/template-->

                        @foreach (var item in Model)
                        {
                            <li>
                                <div class="user-avatar">
                                    <a href="UserProfileViewer?userId=@item.uid">
                                        <img src="@item.url" width="48" alt="Profile Picture Or Avatar of Camper" />
                                    </a>
                                </div>
                                <p class="user-name">
                                    <a href="UserProfileViewer?userId=@item.uid">@item.name</a>
                                    
                                </p>
                                <a class="delete" href="UserProfileViewer?userId=@item.uid"><i class="fa fa-plus"></i></a>
                            </li>
                       
                        }
                    </ul>
                    <!--/List the user based on rank-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Today Active User -->

