@model List<CamperBot_FCC_Status_Viewer.Models.yearly_update_list>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Yearly wise history -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>CamperBot History - Yearlywise </h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--point graph-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Total Points <small>Monthly</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="yearlyPointChart"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <!--user count graph-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Total User <small>Yearly</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="yearlyUserCountChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Yearly wise history -->
<!-- Chart.js -->
<script src="~/Plugins/Chart.js/Chart.min.js"></script>

<!-- jQuery Sparklines -->
<script src="~/Plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

<!-- Flot -->
<script src="~/Plugins/Flot/jquery.flot.js"></script>
<script src="~/Plugins/Flot/jquery.flot.pie.js"></script>
<script src="~/Plugins/Flot/jquery.flot.time.js"></script>
<script src="~/Plugins/Flot/jquery.flot.stack.js"></script>
<script src="~/Plugins/Flot/jquery.flot.resize.js"></script>

<!-- Flot plugins -->
<script src="~/Plugins/flot.orderbars/jquery.flot.orderBars.js"></script>
<script src="~/Plugins/flot-spline/jquery.flot.spline.min.js"></script>
<script src="~/Plugins/flot.curvedlines/curvedLines.js"></script>

<!-- DateJS -->
<script src="~/Plugins/DateJS/date.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="~/Plugins/moment/moment.min.js"></script>
<script src="~/Plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

<!--start history - monthly status chart-->
<script>
    $(function () {
        var date = [];
        var point = [];
        var user_count = [];

        @foreach (var item in Model)
                {
                    @:date.push("@item.u_date");
                    @:point.push("@item.pts_count");
                    @:user_count.push("@item.u_count");
                }

        //start -- date generation -- yearly count -- points
        var formatted_date = [];
        for (var i = 0; i < date.length; i++) {
            var date_obj1 = new Date(date[i]);
            formatted_date[i] = date_obj1.getDate() + "/" + (date_obj1.getMonth() + 1) + "/" + date_obj1.getFullYear();
        }
        //console.log(date);
        //console.log(formatted_date);

        var date_obj = new Date();
        var graphDate = [];
        var temp_year = 2016;
        for (var i = 0; temp_year < date_obj.getFullYear() ; i++) {
            graphDate.push("31/12/" + temp_year);
            temp_year += 1;
            }

        //console.log(graphDate);

        var graphPoints_userPoints = [];
        var flag_first_entry = 1;
        var temp_points = 0;
        for (var i = 0; i < graphDate.length; i++) {
            for (var j = 0; j < formatted_date.length; j++) {
                if (graphDate[i] == formatted_date[j] && flag_first_entry == 1) {
                    graphPoints_userPoints[i] = point[j];
                    temp_points = point[j];
                    flag_first_entry = 2;
                }
                if (graphDate[i] == formatted_date[j] && flag_first_entry == 2) {
                    graphPoints_userPoints[i] = point[j];
                    temp_points = point[j];
                }
                else if (flag_first_entry == 2) {
                    graphPoints_userPoints[i] = temp_points;
                }
            }
        }

        //end -- date generation -- yearly count -- points


        //Create data and option object point
        var data_obj_point = {
            labels: graphDate,
            datasets: [
            {
                label: "Total Points",
                backgroundColor: "rgba(38, 185, 154, 0.31)",
                borderColor: "rgba(38, 185, 154, 0.7)",
                pointBorderColor: "rgba(38, 185, 154, 0.7)",
                pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointBorderWidth: 1,
                data: graphPoints_userPoints
            }
            ]
        };

        var option_obj_point = {
            title: {
                display: true,
                text: 'Yearly - Campers Total Points'
            },
            //responsive: true,
            legend: {
                position: 'bottom'
            }
        };
        //Get the reference to canvas in html document
        var myChartId = $("#yearlyPointChart");
        //Create the chart
        var myChart = new Chart(myChartId, {
            type: "line",
            data: data_obj_point,
            options: option_obj_point
        });


        //user count chart
        //start -- date generation -- monthly count -- usercount
        var graphPoints_userCount = [];
        var flag_first_entry1 = 1;
        var temp_user_count = 0;
        for (var i = 0; i < graphDate.length; i++) {
            for (var j = 0; j < formatted_date.length; j++) {
                if (graphDate[i] == formatted_date[j] && flag_first_entry1 == 1) {
                    graphPoints_userCount[i] = user_count[j];
                    temp_points = user_count[j];
                    flag_first_entry = 2;
                }
                if (graphDate[i] == formatted_date[j] && flag_first_entry1 == 2) {
                    graphPoints_userCount[i] = user_count[j];
                    temp_points = user_count[j];
                }
                else if (flag_first_entry == 2) {
                    graphPoints_userCount[i] = temp_user_count;
                }
            }
        }

        //end -- date generation -- monthly count -- usercount


        //Create data and option object point
        var data_obj_user = {
            labels: graphDate,
            datasets: [
            {
                label: "Camper Count",
                backgroundColor: "rgba(38, 185, 154, 0.31)",
                borderColor: "rgba(38, 185, 154, 0.7)",
                pointBorderColor: "rgba(38, 185, 154, 0.7)",
                pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointBorderWidth: 1,
                data: graphPoints_userCount
            }
            ]
        };

        var option_obj_user = {
            title: {
                display: true,
                text: 'Yearly - Total Camper Count'
            },
            //responsive: true,
            legend: {
                position: 'bottom'
            }
        };
        //Get the reference to canvas in html document
        var myChartId = $("#yearlyUserCountChart");
        //Create the chart
        var myChart = new Chart(myChartId, {
            type: "line",
            data: data_obj_user,
            options: option_obj_user
        });
    });
</script>
<!--end history - monthly status chart-->
