@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Custom icon for facebook, linkedin, Whatsapp-->
<link href="~/Custom/css/developerTeam_Icon.css" rel="stylesheet" type="text/css">

<!-- Developer team -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>CamperBot Developer Team</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details">
                            </div>
                            <div class="clearfix"></div>

                            <!-- Arunpandian Contact  -->
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Team Leader</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Arunpandian.M</h2>
                                            <p><strong>Role: </strong> Design & Implementation</p>
                                            <p><strong>Skills: </strong> HTML5 & CSS3, Javascript, PHP, C#</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-phone"></i><strong> Phone: </strong>+91-9042533101</li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/Images/profile.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="emphasis">
                                            <ul class="social-links list-inline m-b-0">
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/people/Arunpandian-Murugan/100009510639486" target="_blank" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.linkedin.com/in/arun-pandian-0a786a122?trk=nav_responsive_tab_profile_pic" target="_blank" data-original-title="Linkedin">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.github.com/arunpandianm" target="_blank" data-original-title="Github">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="@@skypename">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="http://www.mail.google.com" target="_blank" data-original-title="arunpandianm04@gmail.com">
                                                        <i class="fa fa-envelope-o"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Arunpandian Contact -->

                            <!-- Bhargav Contact -->
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Collaborator</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Bhargav</h2>
                                            <p><strong>Role: </strong> Design & Implementation</p>
                                            <p><strong>Skills: </strong> HTML5 & CSS3, Javascript, PHP, C#</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-phone"></i><strong> Phone: </strong>+91-9944497303</li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/Images/profile.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="emphasis">
                                            <ul class="social-links list-inline m-b-0">
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/Bhargavmob" target="_blank" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Linkedin">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://github.com/bhaar" target="_blank" data-original-title="Github">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="@@skypename">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="http://www.mail.google.com" target="_blank" data-original-title="bhargavtrivedi150@gmail.com">
                                                        <i class="fa fa-envelope-o"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Bhargav Contact -->

                            <!-- Madhan Contact -->
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Collaborator</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Madhanmohanprasanth</h2>
                                            <p><strong>Role: </strong> Design & Implementation</p>
                                            <p><strong>Skills: </strong> HTML5 & CSS3, Javascript, PHP, C#</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-phone"></i><strong> Phone: </strong>+91-9042533101</li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/Images/profile.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="emphasis">
                                            <ul class="social-links list-inline m-b-0">
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Linkedin">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Github">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="@@skypename">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="">
                                                        <i class="fa fa-envelope-o"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Madhan Contact -->

                            <!-- Indhumathi Contact -->
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Collaborator</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Indhumathi</h2>
                                            <p><strong>Role: </strong> Design & Implementation</p>
                                            <p><strong>Skills: </strong> HTML5 & CSS3, Javascript, PHP, C#</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-phone"></i><strong> Phone: </strong>+91-9042533101</li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/Images/pic.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="emphasis">
                                            <ul class="social-links list-inline m-b-0">
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/indhuGreenie" target="_blank" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.linkedin.com/in/indhu-r-707658125/" target="_blank" data-original-title="Linkedin">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://github.com/Indhumathivishalini" target="_blank" data-original-title="Github">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="@@skypename">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="http://www.mail.google.com" target="_blank" data-original-title="">
                                                        <i class="fa fa-envelope-o"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Indhumathi Contact -->

                            <!-- Dushyanth Contact -->
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Mentor</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Dushyanth Ramalingam</h2>
                                            <p><strong>Role: </strong> Industry Mentor</p>
                                            <p><strong>Skills: </strong> HTML5 & CSS3, Javascript, PHP, C#</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-phone"></i><strong> Phone: </strong>+91-9042533101</li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/Images/profile.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="emphasis">
                                            <ul class="social-links list-inline m-b-0">
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Linkedin">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Github">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="@@skypename">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="">
                                                        <i class="fa fa-envelope-o"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Dushyanth Contact -->

                            <!-- Priscilla Contact -->
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Mentor</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Priscilla</h2>
                                            <p><strong>Role: </strong> Staff Mentor</p>
                                            <p><strong>Skills: </strong> HTML5 & CSS3, Javascript, PHP, C#</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-phone"></i><strong> Phone: </strong>+91-9042533101</li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/Images/pic.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="emphasis">
                                            <ul class="social-links list-inline m-b-0">
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Linkedin">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="Github">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="@@skypename">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" target="_blank" data-original-title="">
                                                        <i class="fa fa-envelope-o"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Pricilla Contact -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Developer team -->
